#highScoreButton {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    width:200px; 
    background-color:rgb(69, 72, 92);
    text-align: center;
    margin-top: 6px;
}


#highScoreButton2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    width:200px; 
    background-color:rgb(69, 72, 92);
    text-align: center;
    margin-top: 6px;

}

.bodyclass {
    background-color: rgb(36, 48, 66);
    background-image: url("../images/324371.jpg");

}

#mainBox {

    height: 600px;
}



#openerH1Text {
    font-family: 'Francois One', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;

}

#openerPText {
    font-family: 'Francois One', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;

}

.form-control:hover{
background-color: rgb(124, 255, 238);
}

a:hover {
  color: rgb(167, 234, 255);

}

a {
    color: rgb(255, 255, 255);
}

.buttonHolder {
margin-left: 45%;
}

#imageId  {
display: block;
margin-left: auto;
margin-right: auto;
height: 200px;
width: 400px;
}

h3 {
    text-align: center;
}

input {
    margin: auto;
    display: block;
margin-left: auto;
margin-right: auto;

}

h4 {
    text-align: center;
    margin: auto;

}