#highScoreButton {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    width:200px; 
    background-color:rgb(69, 72, 92);
    text-align: center;
    margin-top: 6px;
}


#highScoreButton2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    width:200px; 
    background-color:rgb(69, 72, 92);
    text-align: center;
    margin-top: 6px;

}

.bodyclass {
    background-color: rgb(36, 48, 66);
}

#mainBox {

    height: 600px;
}

#openerH1Text {
    font-family: 'Francois One', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;

}

#openerPText {
    font-family: 'Francois One', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;

}
